<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Customer Menu</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="order.js"></script>
	<script src="../components/navbar/navbar.component.js"></script>
</head>

<body ng-controller="OrderController" class="bg-gray-100">
	<navbar></navbar>

	<div ng-hide="hidePopup">
		<div class="fixed inset-0 z-10 w-screen overflow-y-auto bg-gray-500 bg-opacity-75">
			<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
				<div
					class="relative transform overflow-hidden rounded-lg bg-white p-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-xl">
					<div class="flex gap-4">
						<div class="flex justify-center items-center bg-stone-500 rounded-lg p-4">
							<svg id="whitesvg" class="w-24 h-24" xmlns="http://www.w3.org/2000/svg" height="2em"
								viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
								<style>
									#whitesvg {
										fill: #ffffff
									}
								</style>
								<path
									d="M88 0C74.7 0 64 10.7 64 24c0 38.9 23.4 59.4 39.1 73.1l1.1 1C120.5 112.3 128 119.9 128 136c0 13.3 10.7 24 24 24s24-10.7 24-24c0-38.9-23.4-59.4-39.1-73.1l-1.1-1C119.5 47.7 112 40.1 112 24c0-13.3-10.7-24-24-24zM32 192c-17.7 0-32 14.3-32 32V416c0 53 43 96 96 96H288c53 0 96-43 96-96h16c61.9 0 112-50.1 112-112s-50.1-112-112-112H352 32zm352 64h16c26.5 0 48 21.5 48 48s-21.5 48-48 48H384V256zM224 24c0-13.3-10.7-24-24-24s-24 10.7-24 24c0 38.9 23.4 59.4 39.1 73.1l1.1 1C232.5 112.3 240 119.9 240 136c0 13.3 10.7 24 24 24s24-10.7 24-24c0-38.9-23.4-59.4-39.1-73.1l-1.1-1C231.5 47.7 224 40 224 24z" />
							</svg>
						</div>
						<div>
							<h3 class="text-lg font-semibold text-stone-500">{{selectedRecipe.name}}</h3>
							<p>$5</p>
							<p class="">Includes:</p>
							<ul>
								<li class="text-sm text-gray-500" ng-repeat="ingredient in selectedRecipe.ingredients">
									{{ingredient.name}}</li>
							</ul>
						</div>
					</div>


					<div class="flex justify-end items-center gap-3 mt-5">
						<div
							class="relative flex items-center ring-2 rounded-md ring-gray-100 focus-within:ring-blue-500">
							<p class="absolute text-sm text-gray-500 -top-3 left-2 px-1 bg-white">Payment</p>
							<p class="mx-2 text-gray-500">$</p>
							<input name="payment" id="payment" type="number" placeholder="Enter amount" min="0"
								class="outline-none py-1 px-2 rounded-md" />
						</div>
						<button ng-click="cancelPopup()" class="hover:text-gray-400">Cancel</button>
						<button ng-click="orderRecipe()" class="bg-blue-500 text-white rounded-md p-2 px-4 hover:bg-blue-700">Order</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="max-w-7xl mx-auto min-h-screen p-3 mt-10">
		<div>
			<p class="text-lg font-semibold py-2 text-gray-500">Menu</p>
			<div ng-hide="recipes.length > 0" class="ng-cloak">
				<svg class="mx-auto w-24 h-24" xmlns="http://www.w3.org/2000/svg" height="1em"
					viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
					<style>
						svg {
							fill: #898989
						}
					</style>
					<path
						d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM174.6 384.1c-4.5 12.5-18.2 18.9-30.7 14.4s-18.9-18.2-14.4-30.7C146.9 319.4 198.9 288 256 288s109.1 31.4 126.6 79.9c4.5 12.5-2 26.2-14.4 30.7s-26.2-2-30.7-14.4C328.2 358.5 297.2 336 256 336s-72.2 22.5-81.4 48.1zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
				</svg>
				<p class="text-lg text-center font-semibold text-gray-500 mt-4">Uh oh! No menu items have been created!
				</p>
			</div>

			<div class="grid grid-cols-1 gap-2 sm:gap-4 sm:grid-cols-3 lg:grid-cols-4">
				<button ng-hide"recipes.length <=0" ng-repeat="recipe in recipes" ng-click="onRecipeSelect(recipe)"
					class="group flex gap-6 rounded-lg px-4 py-2 bg-white hover:bg-gray-200">
					<div class="flex items-center">
						<svg class="w-14 h-14" xmlns="http://www.w3.org/2000/svg" height="1em"
							viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<style>
								svg {
									fill: #77716d
								}
							</style>
							<path
								d="M96 64c0-17.7 14.3-32 32-32H448h64c70.7 0 128 57.3 128 128s-57.3 128-128 128H480c0 53-43 96-96 96H192c-53 0-96-43-96-96V64zM480 224h32c35.3 0 64-28.7 64-64s-28.7-64-64-64H480V224zM32 416H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
						</svg>
					</div>

					<div class="flex-1 text-left">
						<p class="text-black font-semibold group-hover:text-blue-500">{{recipe.name}}</p>
						<p>Includes:</p>
						<ul>
							<li class="text-sm text-gray-700" ng-repeat="ingredient in recipe.ingredients">
								{{ingredient.name}}</li>
						</ul>
					</div>

					<p>${{recipe.price}}</p>

				</button>
			</div>
		</div>
	</div>

</body>

</html>