<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head><style>body {
   color: black;
}
</style></head>
	<body><h2 id="privacy-policy">Privacy Policy</h2>
		<p><strong>Last updated November 15th, 2023</strong></p>
		<p>This privacy policy for CoffeeMaker (“we”, “us”, or “our”), describes how and why we might collect, store, and use your information when you use our services. </p>
		<h2 id="1-what-information-do-we-collect-">1. What information do we collect?</h2>
			<p>In order to provide you with a personalized experience and ensure the functionality of our services, we collect the following information:</p>
			<ul>
			<li>Usernames</li>
			<li>Passwords</li>
			</ul>
			<p>It is important to note that we do not process sensitive information.</p>
		<h2 id="2-why-do-we-process-your-information-">2. Why do we process your information?</h2>
			<p>The processing of your information is conducted for the following purposes:
			To facilitate account creation, authentication, and management.
			To deliver and facilitate the delivery of services to the user.</p>
		<h2 id="3-when-and-with-whom-do-we-share-your-personal-information-">3. When and with whom do we share your personal information?</h2>
			<p>We take your privacy seriously and do not share your personal information with any third parties. Your data remains exclusively within the local environment of the application.</p>
		<h2 id="4-how-long-do-we-keep-your-personal-information-">4. How long do we keep your personal information?</h2>
			<p>We retain your personal information only for as long as it is necessary to deliver services to you. There is no requirement for us to keep your personal information beyond the duration of your account with us. Additionally, we adhere to the following data retention practices:</p>
			<p>Regular audits to identify and securely delete outdated or unnecessary information.</p>
		<h2 id="5-how-do-we-keep-your-personal-information-safe-">5. How do we keep your personal information safe?</h2>
			<p>Ensuring the security of your personal information is a top priority for us. We employ the following measures:</p>
			<ul>
			<li>Use of a secure database to store your information.</li>
			<li>Encryption of all personal information to safeguard it from unauthorized access.</li>
			<li>Regular security audits and updates to stay ahead of potential vulnerabilities.</li>
			</ul>
		<h2 id="6-do-we-collect-personal-information-from-minors-">6. Do we collect personal information from minors?</h2>
			<p>CoffeeMaker is not intended for individuals under the age of 18.</p>
			<p>We do not knowingly collect or process personal information from minors. If you are a parent or guardian and become aware that your child has provided us with personal information, please contact us, and we will take steps to promptly remove such information from our records.</p>
		<h2 id="7-will-we-update-this-privacy-policy-">7. Will we update this privacy policy?</h2>
			<p>We reserve the right to update this privacy policy at any point. It is recommended that users review this privacy policy periodically to stay informed about how their information is protected and utilized. Continued use of our services after any modifications to the privacy policy implies acceptance of the updated terms.</p>
		<h2 id="8-data-access-and-correction">8. Data Access and Correction</h2>
			<p>You have the right to access, correct, or update your personal information. If you wish to exercise these rights, please contact us through the provided contact information.</p>
		<h2 id="9-how-can-you-contact-us-">9. How can you contact us?</h2>
			<p>If you have any questions, concerns, or comments regarding this privacy policy, please feel free to reach out to us at <a href="mailto:sesmith5@ncsu.edu">sesmith5@ncsu.edu</a>. Your feedback is important to us, and we are committed to addressing any inquiries you may have.</p>
	</body>
</html>