<!DOCTYPE html>
<html ng-app="myApp" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Customer Menu</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-controller="SignUpController" class="bg-gray-100">
	<div class="flex justify-center items-center min-h-screen bg-gray-100">
		<div>
			<h1>Sign up</h1>
		</div>
		
		<form>
			<div>
				<p>Username</p>
				<input>
			</div>
			<div>
				<p>Password</p>
				<input>
			</div>
		</form>
	</div>

</body>

</html>