<div class="fixed top-0 inset-x-0">
	<div class="w-full h-1 bg-stone-500"></div>
	<div class="w-full bg-white">
		<div class="flex items-center justify-between w-full max-w-7xl mx-auto">
			<div class="p-1.5">
				<button ng-click="$ctrl.goToMain()" class="font-semibold text-lg text-stone-500">CoffeeMaker</button>
			</div>

			<div ng-show="$ctrl.userRole" class="flex items-center justify-end gap-2 p-1.5">
				<p class="hidden text-stone-500 sm:block">{{$ctrl.username}}</p>
				<button ng-click="$ctrl.signOut()" class="whitespace-nowrap px-2 py-1 text-sm text-stone-500 ring-1 ring-stone-500 rounded-md hover:bg-gray-100 hover:text-stone-700">Sign out</button>
			</div>
		</div>

	</div>
</div>