<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		input.ng-valid {
			background-color: lightgreen;
		}

		input.ng-dirty.ng-invalid-required,
		input.ng-dirty.ng-invalid-number {
			background-color: red;
		}

		input.ng-dirty.ng-invalid-min {
			background-color: yellow;
		}
	</style>

	<title>Edit Recipes</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/app.css" />





</head>

<body>


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		/*<![CDATA[*/
		var app = angular.module('myApp', []);
		app.controller('editRecipesCtrl', function ($scope, $http, $q) {
			$scope.reset = function () {
				//Recipe we will put into database
				$scope.recipe = {
					name: '',
					price: '',
					ingredients: []

				};

				if (undefined != $scope.editRecipeForm) {
					$scope.editRecipeForm.$setPristine();
				}
			}

			//Flag that will turn to true if not ingredients are selected for the recipe
			$scope.noIngredients = false;

			// Ingredients to be presented in frontend
			$scope.ingredients = {};

			//Flag making sure the user has selected a recipe
			$scope.norecipes = true;

			// All the ingredients that exist in the inventory
			$scope.allIngredients = [];

			// The ingredients to be presented in dropdown (excludes ingredients that are already in the recipe)
			$scope.availableIngredients = [];

			// The list of recipes to display and select by the user. Shown in a dropdown menu
			$scope.recipesAvailable = [];

			//We want to get the list of all recipes on start
			$http.get("/api/v1/recipes").then(function (response) {
				let recipes = response.data;

				//Put the recipes we want to show off into the list of recipes
				for (let i = 0; i < recipes.length; i++) {
					$scope.recipesAvailable[i] = {
						'id': recipes[i].id,
						'name': recipes[i].name,
						'price': recipes[i].price,
						'ingredients': recipes[i].ingredients,
						'display': recipes[i].name
					}
				}

				//Now we can display the recipes using the list of objects

			})
			//Show the recipe and its contents
			$scope.selectRecipe = function () {
				//The user may select another recipe when one is already picked
				//Clear out our ingredients and recipe objects by calling reset
				$scope.reset();



				let recipe = $scope.getRecipeFromDropdown();
				if (recipe == null) {
					return;
				}

				//Go find the recipe of matching label and name in the list of recipes variable
				//Use localeCompare to compare strings and when it's zero we have our target recipe
				//Keep going until the recipe names match up
				let i = 0;
				while (i < $scope.recipesAvailable.length && $scope.recipesAvailable[i].name.localeCompare(recipe.label) != 0) {
					i++;
				}




				//Add the name of the ingredients to be shown with text boxes
				$scope.norecipes = false;

				//Bind in the price and name value
				$scope.recipe.price = $scope.recipesAvailable[i].price;
				$scope.recipe.name = $scope.recipesAvailable[i].name;
				$scope.recipe.ingredients = $scope.recipesAvailable[i].ingredients;


				//We now have our stuff all entered in
				console.log($scope.recipe);
				console.log($scope.ingredients);

				//Add in the ingredients selected to the scope variable that displays the ingredients
				for (let i = 0; i < $scope.recipe.ingredients.length; i++) {
					$scope.ingredients[$scope.recipe.ingredients[i].name] = {
						value: $scope.recipe.ingredients[i].amount
					}
				}


				//Now filter down the ingredients we can show off in the dropdown
				$scope.filterAvailableIngredients();

			}

			//Get the item from the dropdown
			$scope.getRecipeFromDropdown = function () {
				let dropdown = document.getElementById("recipesDropdown");
				let i = 1;
				//console.log("We are in dropdown selection");
				while (dropdown[i]) {
					let option = dropdown[i];

					if (option.value == dropdown.value) return option;
					i++;
				}
			}




			$scope.getIngredientFromDropdown = function () {
				let dropdown = document.getElementById("ingredientDropdown");
				let i = 1;
				while (dropdown[i]) {
					let option = dropdown[i];

					if (option.value == dropdown.value) return option;
					i++;
				}

			}


			$scope.addIngredient = function () {
				let ingredient = $scope.getIngredientFromDropdown();
				if (ingredient == null) {
					return;

				}

				//Extract the info we need from the ingredient



				$scope.ingredients[ingredient.label] = {
					value: ''
				}
				$scope.noIngredients = false;
				$scope.filterAvailableIngredients();
			}


			//Get the inventory's list of ingredients on startup
			//We will display things after a recipe is picked
			$http.get("/api/v1/inventory").then(function (response) {
				let ingredients = response.data.ingredients;
				console.log(response.data);
				for (let i = 0; i < ingredients.length; i++) {
					$scope.allIngredients[i] = {
						'id': ingredients[i].id,
						'name': ingredients[i].name,
						'display': ingredients[i].name
					}
				}


			})

			//Only show the ingredients not selected for availableIngredients
			$scope.filterAvailableIngredients = function () {

				let availableIngredients = [];
				for (ingredient of $scope.allIngredients) {
					if (!$scope.ingredients[ingredient.name]) {
						availableIngredients.push(ingredient);
					}
				}

				$scope.availableIngredients = availableIngredients;

				let dropdown = document.getElementById("ingredientDropdown");
				dropdown.value = null;
			}

			$scope.removeIngredient = function (name) {
				delete $scope.ingredients[name];
				delete $scope.recipe.ingredients[name];
				$scope.filterAvailableIngredients();

				//If the length of our ingredients is 0 then we need to tell the user and disallow submissions
				//If the first element is undefined then there are no ingredients selected
				let i = 0;
				for (ingredient in $scope.ingredients) {
					i++;
					break;
				}
				if (i == 0) {
					$scope.noIngredients = true;
				}
			}





			//Put the recipe in to the form
			$scope.putRecipe = function () {
				$scope.success = false;
				$scope.failure = false;



				//Clear out the recipe ingredient list
				//Fill in the other fields
				$scope.recipe.ingredients = [];

				for (ingredient in $scope.ingredients) {
					let value = $scope.ingredients[ingredient].value;
					$scope.recipe.ingredients.push({
						name: ingredient,
						amount: value,
						isInventory: false
					})
				}

				if ($scope.recipe.ingredients <= 0) return;


				//Put the recipe with the correct api call that includes the name
				$http.put("/api/v1/recipes/" + $scope.recipe.name, $scope.recipe).then(
					function (success) {
						$scope.success = true;
						$scope.failure = false;

						//We want to get the list of all recipes again
						$http.get("/api/v1/recipes").then(function (response) {
							let recipes = response.data;
							$scope.recipesAvailable = [];
							//Put the recipes we want to show off into the list of recipes
							for (let i = 0; i < recipes.length; i++) {
								$scope.recipesAvailable[i] = {
									'id': recipes[i].id,
									'name': recipes[i].name,
									'price': recipes[i].price,
									'ingredients': recipes[i].ingredients,
									'display': recipes[i].name
								}
							}

							//Now we can display the recipes using the list of objects

						});

					}, function (rejection) {
						$scope.failure = true;
						console.error("Error while adding recipe");
					});
			}


			$scope.submit = function () {

				$scope.putRecipe();
				//Make sure to reget the recipe we just edited
				console.log("/api/v1/recipes/" + $scope.recipe.name);





				$scope.reset();
			}

			//Reset the form
			$scope.reset = function () {
				//$scope.editRecipeForm.$setPristine();

				$scope.noIngredients = false;
				//Reset the recipe object	
				$scope.recipe = {
					name: '',
					price: '',
					ingredients: []
				};

				//We have to reset the ingredients now	
				$scope.ingredients = {};
				$scope.availableIngredients = [];
				$scope.norecipes = true;
			}


			$scope.reset();
		});
	/*]]>*/
	</script>


	<div class="generic-container ng-cloak" ng-app="myApp" ng-controller="editRecipesCtrl as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Edit Recipes</span>
			</div>


			<div class="formcontainer">
				<form ng-submit="submit()" name="editRecipeForm" class="form-horizontal">



					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Recipes</label>
							<div class="col-md-7">
								<label for="recipes">Choose a Recipe:</label>
								<select name="recipes" id="recipesDropdown" ng-model="interval" class="btn"
									ng-options="item as item.display for item in recipesAvailable">
									<!--Dropdown menu that has the Select a Recipe as the default value when opening this page
									Angular documentation pages here
									https://docs.angularjs.org/api/ng/directive/ngOptions-->
									<!--W3Schools page on disabled boolean https://www.w3schools.com/tags/att_disabled.asp-->
									<!--W3Schools page on hidden boolean https://www.w3schools.com/tags/att_hidden.asp-->
									<option value="" disabled hidden>Select a Recipe</option>
								</select>
								<input type="button" value="Select Recipe" class="btn btn-primary btn-sm"
									ng-click="selectRecipe()" />
							</div>
						</div>
					</div>


					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable" for="file">Price</label>
							<div class="col-md-7">
								<input type="number" id="price" ng-model="recipe.price" name="price"
									class="price form-control input-sm" placeholder="Enter recipe price" required="0"
									min="0" />
								<div class="has-error" ng-show="editRecipeForm.$dirty">
									<span ng-show="editRecipeForm.price.$error.required">This
										is a required field.</span> <span
										ng-show="editRecipeForm.price.$error.min">Minimum
										amount is 0.</span> <span ng-show="editRecipeForm.price.$invalid">This
										field is invalid.</span>
								</div>
							</div>
						</div>
					</div>

					<!--Row that will show when no ingredients are selected-->
					<div class="row">
						<div class="form-group col-md-12">
							<h5 class="col-md-2"><strong>Ingredients</strong></h5>
							<div class="has-error col-md-2" ng-show="noIngredients">
								<h6 ng-show="noIngredients">At least one ingredient is required</h6>
							</div>
						</div>
					</div>



					<!--Ingredients rows that are to be put in the recipe-->
					<div class="row" ng-repeat="(ingredient, data) in ingredients track by $index">
						<div class="form-group col-md-12" id="{{ingredient}}">
							<p class="col-md-2">{{ingredient}}</p>
							<div class="col-md-7">
								<input class="form-control input-sm" name="{{ingredient}}"
									ng-model="ingredients[ingredient].value" type="number"
									placeholder="Enter amount of selected ingredient" required="0" min="1">
							</div>
							<div class="has-error" ng-show="editRecipeForm.$dirty">
								<span ng-show="editRecipeForm[ingredient].$error.required">This
									is a required field</span> <span
									ng-show="editRecipeForm[ingredient].$error.min">Minimum
									amount
									is 1</span>
							</div>
							<input class="btn btn-danger btn-sm" type="Ingredient" value="Remove Ingredient"
								ng-click="removeIngredient(ingredient)" />
						</div>
					</div>


					<!--Ingredients dropdown-->
					<div class="row">
						<div class="form-group col-md-12">
							<h5 class="col-md-2"><strong>Add Ingredient</strong></h5>
							<div class="col-md-7">
								<span class="border border-3"><select id="ingredientDropdown" ng-model="interval"
										class="btn" ng-options="item as item.display for item in availableIngredients">
										<option value="" disabled hidden>Select an Ingredient:</option>
									</select></span>
								<input type="button" value="Add Ingredient" class="btn btn-primary btn-sm"
									ng-click="addIngredient()" />
							</div>
						</div>
					</div>



					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit" value="Submit" class="btn btn-primary btn-sm"
								ng-disabled="((editRecipeForm.$invalid) || (noIngredients))" />
							<buttontype="button" ng-click="reset()" class="btn btn-warning btn-sm"
								ng-disabled="editRecipeForm.$pristine">Reset Form</button>
						</div>
					</div>
				</form>
			</div>
			<div ng-show="success">Recipe Edited</div>
			<div ng-show="failure">Error while editing recipe.</div>
		</div>

		<a href="/index">Home</a>
	</div>



</body>

</html>